.board {
  width: 420px;
  height: 120px;
  border: 2px solid black;
  margin: 10px;
}
.heading {
  font-size: 40px;
  text-transform: uppercase;
  color: #2C2C2C;
  margin-left: 60px;
}

.cups {
  margin: 10px;
  /*transition: .5s ease-in-out;*/
  border-bottom: 80px solid red;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  position: relative;
  float: left;
  /*transitionDuration: '300ms';*/
  width: 40px;
}

.button {
  margin-left: 150px;
}
