.board {
  width: 420px;
  height: 120px;
  border: 2px solid black;
  margin: 10px;
}
.heading {
  font-size: 40px;
  text-transform: uppercase;
  color: #2C2C2C;
  margin-left: 60px;
}

.cups {
  margin: 10px;
  border-bottom: 80px solid red;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  position: relative;
  float: left;
  width: 40px;
  transition: 1s ease-in-out;
}

.ball {
  display: block;
  background-color: black;
  border-radius: 50%;
  height: 28px;
  width: 30px;
  margin: 62px 5px;
}

.button {
  margin-left: 150px;
}
.state {
  font-size: 20px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-left: 250px;
}
.wins {
  margin-right: 10px;
}
